name: Build & publish

on:
  push:
    branches: [ "main" ]
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login into ${{ env.REGISTRY }}
        # if: github.event_name != 'pull_request'
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container
        run: |
          export GITHUB_RUN_ID=${{ github.run_id }}
          echo ${DOCKER_CONFIG}
          cd server-ce/
          make build-base
          make build-community

      - name: Debug
        run: |
          docker images
          echo "Current branch: ${github.ref_name}"

      - name: Publish
        run: |
          export ghcr_registry="ghcr.io/4llysa/overleaf"
          
          if [ "${{ github.ref_name }}" = "main" ]; then
            docker tag sharelatex/sharelatex:main ${ghcr_registry}:latest
            docker tag sharelatex/sharelatex:main ${ghcr_registry}:${{ github.sha }}
          else 
            docker tag sharelatex/sharelatex:HEAD ${ghcr_registry}:latest
            docker tag sharelatex/sharelatex:HEAD ${ghcr_registry}:${{ github.sha }}
          fi

          echo "Publishing ${ghcr_registry}:${{ github.sha }}"
          docker push ${ghcr_registry}:latest